.gallery{
    margin-top: 60px;
    margin-bottom: 100px;
    ul{
        margin-top: 40px;
        margin-bottom: 30px;
        display: flex;
        border-bottom: 4px solid rgba(237,237,237, 1);
        li{
            cursor: pointer;
            margin-right: 40px;
            padding-bottom: 18px;
            a{
                position: relative;
                color: $color-gray;
                transition: 0.3s;
                &::before{
                    content:'';
                    position: absolute;
                    transition: 0.3s;
                    width: 100%;
                    border-bottom: 4px solid rgba(0,102,161,1);
                    left: 0;
                    bottom: -20px;
                    opacity: 0;
                }
            }
            &:hover{
                a{
                    color: $color-darkgray;
                }
                a::before{
                    opacity: 1;
                }
            }
        }
    }
    &__video{
        display: none;
    }
}

.photo{
    margin: 0 -10px;
    &__wrapper{
        display: flex;
    }
    &__items{
        margin: 0 10px;
        position: relative;
        padding: 30px;
        min-height: 370px;
        overflow: hidden;
        &::before{
            content: '';
            position: absolute;
            left: 0;
            top: 0;
            background: linear-gradient(180deg, rgba(40, 47, 57, 0) 0%, #282F39 100%);
            z-index: -1;
            width: 100%;
            min-height: 360px
        }
        img{
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            z-index: -2;
        }
    }
    &__info{
        position: relative;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        color: $color-white;
        time{
            @include font(14px, 400);
            margin-bottom: 20px;
        }
        span{
            @include font(18px, 700);
        }
    }
}

.video{
    &__wrapper {
        display: flex;
        justify-content: space-between;
        span{
            background-image: url("../images/video.png");
            background-repeat: no-repeat;
            min-height: 360px;
            width: 49%;
            position: relative;
        }
        svg{
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    }
}

.is-active{
    display: block;
}